.hero {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

svg {
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 100%;
    animation: spin 25s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .hero-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 15px;
  }

  .hero-content h1 {
    font-size: 50px;
  }

  .hero-content p {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .view-zodiac {
    display: flex;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    width: max-content;
  }

  .view-zodiac input, .view-zodiac button {
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    outline: 0;
    border: none;
  }

  .view-zodiac input {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    text-align: center;
  }

  .view-zodiac button {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
  }

  .view-zodiac button:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .hide {
    visibility: hidden;
    display: none;
  }

  /* fadeIn */
  .fade-in-text {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 3s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .zodiac-name {
    display: flex;
    flex-direction: column;
  }

  .zodiac-name h1 {
    font-size: 50px;
    text-align: center;
  }

  .zodiac-name span {
    font-size: 20px;
    text-align: center;
  }

.results p {
  font-size: 30px;
  text-align: justify;
  line-height: 2.5rem;
}

.btn {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  cursor: pointer;
  padding: 20px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.home {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 50px;
}